# IDE Config
# ----------------------------------------------------------------------------------------------------------------------
.idea
.cursor
.claude
CLAUDE.md

# AI Temp Files
# ----------------------------------------------------------------------------------------------------------------------
.serena
repomix.xml
repomix-output.xml

# Python
# ----------------------------------------------------------------------------------------------------------------------
.venv/
venv/
__pycache__/

# Unit Test / Coverage Reports
# ----------------------------------------------------------------------------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
ci/reports/

# Translations
# ----------------------------------------------------------------------------------------------------------------------
*.mo
*.pot

# Secrets
# ----------------------------------------------------------------------------------------------------------------------
.env*
push/

# Linters Cache
# ----------------------------------------------------------------------------------------------------------------------
.ruff_cache/
.mypy_cache/
